<table>
  <tr>
    <th>文章</th>
    <th>作者</th>
    <th>Created Time</th>
    <th>Updated Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, forum_post_path(@forum, post) %></td>
    <td><%= post.author %></td>
    <td><%= post.created_at %></td>
    <td><%= post.updated_at %></td>
    <td><%= link_to 'Show', forum_post_path(@forum, post) %></td>
    <td><%= link_to 'Edit', edit_forum_post_path(@forum, post) %></td>
    <td><%= link_to 'Destroy', forum_post_path(@forum, post), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @a_page, :param_name => :pagina %>
<br />

<%= link_to 'New Post', new_forum_post_path(@forum) %> |
